.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.aps
ipch/
packages/
.vcpkg/
dist/
out/
cmake-build-*/
*.log
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.pdb
*.obj
*.iobj
*.ipdb
*.exp
*.lib
!third_party/**
.vscode/*.log
*.aps
TestResults/
[Dd]ist/
*.msi
*.wixpdb
*.wixobj
*.opendb
.DS_Store
