<?xml version="1.0" encoding="utf-8"?>
<AppInstaller
  xmlns="http://schemas.microsoft.com/appx/appinstaller/2018"
  Version="REPLACE_PRODUCT_VERSION"
  Uri="REPLACE_UPDATE_BASE_URI/ForgeConductor.appinstaller">

  <MainPackage
    Name="REPLACE_PACKAGE_IDENTITY"
    Publisher="REPLACE_CERTIFICATE_SUBJECT"
    Version="REPLACE_PRODUCT_VERSION"
    ProcessorArchitecture="x64"
    Uri="REPLACE_UPDATE_BASE_URI/REPLACE_PACKAGE_FILENAME" />

  <UpdateSettings>
    <OnLaunch HoursBetweenUpdateChecks="24" ShowPrompt="false" UpdateBlocksActivation="false" />
    <AutomaticBackgroundTask />
  </UpdateSettings>
</AppInstaller>
